body {
	background-color: #256590;
	color: #fff;
	padding: 40px 0;
	font-family: Arial, Helvetia, Verdana, sans-serif;
	font-size: 15px;
}

a {
	color: #9CCDE8;
	text-decoration: underline;
}

h1 {
	font-family: Arial, Helvetia, Verdana, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	width: 950px;
	margin: 0 auto;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	letter-spacing: 2px;
}

h2 {
	font-family: Arial, Helvetia, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 950px;
	margin: 0 auto;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	letter-spacing: 1px;
}

legend {
	font-family: Arial, Helvetia, Verdana, sans-serif;
	font-size: 15px;
	color: #fff;
}

#main {
	width: 750px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1); /* Safari and Chrome */
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1); /* Firefox 3.5 */
	margin: 14px auto;
	position: relative;
	background: #3786b1; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3ODZiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzI1NjU5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzI1NjU5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQzNjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #3786b1 0%, #256590 20%, #256590 80%, #114368 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3786b1), color-stop(20%,#256590), color-stop(80%,#256590), color-stop(100%,#114368)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3786b1 0%,#256590 20%,#256590 80%,#114368 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3786b1 0%,#256590 20%,#256590 80%,#114368 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3786b1 0%,#256590 20%,#256590 80%,#114368 100%); /* IE10+ */
	background: linear-gradient(top, #3786b1 0%,#256590 20%,#256590 80%,#114368 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3786b1', endColorstr='#114368',GradientType=0 ); /* IE6-8 */
	padding: 15px 100px 100px 100px;
}

#main:before {
	content: '';
	box-shadow: 0px 0px 80px 20px rgba(21,62,90,1);
	-webkit-box-shadow: 0px 0px 80px 20px rgba(21,62,90,1); /* Safari and Chrome */
	-moz-box-shadow: 0px 0px 80px 20px rgba(21,62,90,1); /* Firefox 3.5 */
	height: 90%;
	position: absolute;
    bottom: 5%;
    right: 0px;
    width: 100%;
    z-index: -1;
	border-radius: 10px;
}

#main #logo {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#install_service{
	border: 1px solid #114368;
	background: #3786b1;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
	}


.error_field {
	width: 728px;
	max-height: 200px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #fff;
	background-color: #1D5072;
}

.error {
	color: #ff0000;
	font-weight: bold;
}

.dir {
	display: inline;
	border: 0;
	background: none;
	text-decoration: underline;
	color: #9CCDE8;
	cursor: pointer;
    outline: none;
}

.absolute_dir {
	display: none;
}

.folder {
    width: 100%;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.folder img {
	position: relative;
    top: 3px;
}

.folder:hover {
    background-color: #3786b1;
}

fieldset {
	border: 1px solid #fff;
	background-color: #1D5072;
}

.input_error, #main .shop_data, #main .robots_data, #main .finish, #main .button.shop_data, #main .button.robots_data, #main .button.finish, .progress
{
	display: none;
}

#import_sql, #run_config
{
	cursor: pointer;
}

.input_field, .gm_class_input {
	border: 1px solid #cccccc;
	height: 32px;
	color:#335475;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 16px;
	padding-left: 10px;
	width: 300px;
	line-height: 32px;
}

.input_field_short {
	border: 1px solid #cccccc;
	height: 32px;
	color: #335475;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 16px;
	padding-left: 10px;
	width: 150px;
	line-height: 32px;
}

 #main select {
	border: 1px solid #cccccc;
	height: 32px;
	color: #335475;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 16px;
	width: 300px;
	padding: 5px 0 0 7px;
}

.block_head {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	padding-bottom: 4px;
}

.valid {
	background-color: #bfb;
}

.invalid {
	background-color: #fbb;
}

#main .button, #main .button:visited {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	min-width: 230px;
	text-align: center;
	font-size: 16px;
	padding: 7px 14px 6px;
	font-weight: bold;
	border: 1px solid #363636;
	box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
	line-height: 19px;
	font-family: Arial, Helvetia, Verdana, sans-serif;
	overflow: hidden;
	height: 19px;
	*height: auto; /* IE7 Fix */

	background: rgb(89,89,89); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(54,54,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(54,54,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(54,54,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(54,54,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(54,54,54,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(89,89,89,1) 0%,rgba(54,54,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#363636',GradientType=0 ); /* IE6-8 */	
    outline: none;
}

#main .button:hover {
	background: rgb(61,61,61); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(28,28,28,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(28,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(28,28,28,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(28,28,28,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(61,61,61,1) 0%,rgba(28,28,28,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
}

#delete_errors_report .smaller {
	min-width: 215px;
}

#main .button:active {
	top: 1px;
	-moz-box-shadow: 0 0px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0px 3px rgba(0,0,0,0.5);
	outline: none;
}

#main .green.button, #main .green.button:visited {
	border: 1px solid #3A8500;
	
	background: rgb(6,199,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2YzcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTg1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(6,199,0,1) 0%, rgba(58,133,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,199,0,1)), color-stop(100%,rgba(58,133,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06c700', endColorstr='#3a8500',GradientType=0 ); /* IE6-8 */	
}

#main .green.button:hover {
	background: rgb(5,173,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(5,173,0,1) 0%, rgba(45,102,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,173,0,1)), color-stop(100%,rgba(45,102,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(5,173,0,1) 0%,rgba(45,102,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(5,173,0,1) 0%,rgba(45,102,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(5,173,0,1) 0%,rgba(45,102,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(5,173,0,1) 0%,rgba(45,102,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ad00', endColorstr='#2d6600',GradientType=0 ); /* IE6-8 */
}

#main .red.button, #main .red.button:visited {
	border: 1px solid #ab0000;

	background: #f90000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f90000 0%, #a60000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f90000), color-stop(100%,#a60000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f90000 0%,#a60000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f90000 0%,#a60000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f90000 0%,#a60000 100%); /* IE10+ */
	background: linear-gradient(top, #f90000 0%,#a60000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90000', endColorstr='#a60000',GradientType=0 ); /* IE6-8 */
}

#main .red.button:hover	{
	background: rgb(221,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(221,0,0,1) 0%, rgba(140,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,0,0,1)), color-stop(100%,rgba(140,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(140,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(221,0,0,1) 0%,rgba(140,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0000', endColorstr='#8c0000',GradientType=0 ); /* IE6-8 */
}

.progress-bar {
	display: inline-block;
	position: relative;
	right: 0;	
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	width: 750px;
	height: 34px;
	color: #fff;
	border: 1px solid #3A8500;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset -750px 0 #fff;
	text-shadow: 0 0 4px rgba(0,0,0,0.75);	

	background: rgb(6,199,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2YzcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTg1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(6,199,0,1) 0%, rgba(58,133,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,199,0,1)), color-stop(100%,rgba(58,133,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(6,199,0,1) 0%,rgba(58,133,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06c700', endColorstr='#3a8500',GradientType=0 ); /* IE6-8 */	
}

/* same width fix */
input, select
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#copyright {
	font-size: 10px;
	color: #3786b1;
	text-align: center;
}

#copyright a {
	font-size: 10px;
	color: #3786b1;
}

#result, #errors_report, #sql_errors_report, #conflicts_report, #update_status, #installation_success, #installation_success_cache_error, #clear_cache, #result .button {
	display: none;
}

#errors_report {
	text-align: center;
}

#errors_container {
	font-style: italic;
	margin: 10px 0;
}

textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #cccccc;
}

#conflict_fieldset
{
	margin-top: 30px;
}

#section_conflicts
{
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

.section_conflicts_language_row > td
{
	padding: 10px;
	background-color: #206089;
	text-align: center;
	font-size: 18px;
}

.section_conflicts_section_row > td
{
	padding: 10px;
	text-align: center;
}

.section_conflicts_phrase_row_alt > td
{
	background-color: #124663;
}

.section_conflicts_left_column
{
	border-right: 1px #FFFFFF solid;
}

.conflict_header
{
	border-bottom: 1px #FFFFFF solid;
	border-top: 1px #FFFFFF solid;
	width: 50%;
}

.section_conflict
{
	padding: 6px 7px;
	vertical-align: top;
}

.section_conflict > label
{
	display: inline-block;
	width: 100%;
}

.section_conflict_radio
{
	width: 5%;
}

.from_file
{
	color: #99BB55;
}

.progress_cursor
{
	cursor: progress;
}

.float_left {
	float: left;
}

.warning {
	border: 1px solid #fff;
	background-color: #990000;
	padding: 10px;
	margin: 30px 0;
}