/* Checkout Shipping
   ========================================================================== */

body.page-shop.page-checkout-started,
body.page-checkout-shipping,
body.page-checkout-shipping-address,
body.page-checkout-payment,
body.page-checkout-payment-address,
body.page-checkout-confirmation,
body.page-checkout-success {

	// more pdding to footer

	#wrapper #main .main-inside {
		padding-bottom: 60px;
	}

	// headlines

	// h2 {
	//   border-bottom: none;
	//   padding-bottom: 0;
	// }

	// hide breadcrumb on all checkout pages

	#breadcrumb_navi {
		display: none;
	}

	#shipping_error {
		color: #FE0000;
		//font-weight: bold;
	}

	// list group

	.list-group {
		.list-group-item {
			background-color: $gx-list-group-item-bg;
			border:           1px solid $gx-list-group-item-border-color;
			color:            $gx-list-group-item-color;
			margin-bottom:    floor($grid-gutter-width / 2);
			padding:          5px floor($grid-gutter-width / 2) floor($grid-gutter-width / 2);

			// list group item background image
			@if ($gx-list-group-item-bg-image-url and $gx-list-group-item-bg-image-url != "" and $gx-list-group-item-bg-image-url != '') {
				background-image: url($gx-list-group-item-bg-image-url);
				@if ($gx-list-group-item-bg-image-position) {
					background-position: $gx-list-group-item-bg-image-position;
				}
				@if ($gx-list-group-item-bg-image-repeat) {
					background-repeat: $gx-list-group-item-bg-image-repeat;
				}
				@if ($gx-list-group-item-bg-image-size) {
					background-size: $gx-list-group-item-bg-image-size;
				}
				@if ($gx-list-group-item-bg-image-attachment) {
					background-attachment: $gx-list-group-item-bg-image-attachment;
				}
			}

			a {
				color: $gx-list-group-item-link-color;
			}

			.price {
				padding-top: 10px;
			}

			&.paypal3-plus {
				border-color:  transparent;
				padding-left:  0;
				padding-right: 0;

				.ppplus_payment_item {
					padding: 0;

					input[type="radio"] {
						visibility: hidden;
					}
				}
			}
			&.list-group-item-active,
			&.active {
				background-color: $gx-list-group-item-bg-active;
				border:           1px solid $gx-list-group-item-border-color-active;
				color:            $gx-list-group-item-color-active;

				// active list group item background image
				@if ($gx-list-group-item-bg-active-image-url and $gx-list-group-item-bg-active-image-url != "" and $gx-list-group-item-bg-active-image-url != '') {
					background-image: url($gx-list-group-item-bg-active-image-url);
					@if ($gx-list-group-item-bg-active-image-position) {
						background-position: $gx-list-group-item-bg-active-image-position;
					}
					@if ($gx-list-group-item-bg-active-image-repeat) {
						background-repeat: $gx-list-group-item-bg-active-image-repeat;
					}
					@if ($gx-list-group-item-bg-active-image-size) {
						background-size: $gx-list-group-item-bg-active-image-size;
					}
					@if ($gx-list-group-item-bg-active-image-attachment) {
						background-attachment: $gx-list-group-item-bg-active-image-attachment;
					}
				}

				a {
					color:           $gx-list-group-item-link-color-active;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}

				&.paypal3-plus {
					background-color: transparent;
					border-color:     transparent;
				}

				&.klarna2_invoice,
				&.klarna2_partpay {
					input, select {
						color: $text-color;
					}
				}
			}

			&.error {
				padding: 10px 0 10px 35px;
			}
		}
	}

	// fieldsets

	fieldset {
		margin-bottom: floor($grid-gutter-width * 1.5);

		&:first-of-type {
			margin-top: 0;
		}

		.form-group {
			iframe {
				&.form-control {
					height:     auto;
					min-height: 200px;
				}
			}
		}
	}

	div.amzadvpay_countrynotallowed {
		color:      #FFFFFF;
		background: #C20400;
		padding:    15px;
		margin-top: 1em;
	}

	.end-shopping {
		margin-top: 15px;
	}

	// bigger form-groups

	// #main {
	//   .form-control {
	//     height: $input-height-large;
	//     padding: $padding-large-vertical $padding-large-horizontal;
	//     font-size: $font-size-large;
	//     line-height: $line-height-large;
	//     border-radius: $input-border-radius-large;
	//     @include border-radius($input-border-radius-small);
	//   }
	//   select.form-control {
	//     height: $input-height-large;
	//     line-height: $input-height-large;
	//   }
	//   textarea.form-control,
	//   select[multiple].form-control {
	//     height: auto;
	//   }
	//   .control-label {
	//     padding-top: (($padding-large-vertical * $line-height-large) + 1);
	//     font-size: $font-size-large;
	//   }
	//   .radio-inline,
	//   .checkbox-inline {
	//     label {
	//       font-size: $font-size-large;
	//     }
	//   }
	// }

}

#checkout_payment {
	textarea {
		min-height: 200px;
	}

	.miscellaneous-container {
		height:           200px;
		overflow-y:       auto;
		border-radius:    2px;
		border:           1px solid $pre-border-color;
		background-color: $gray-lighter;
		padding:          9px 12px;
		opacity:          1;
		font-family:      $font-family-sans-serif;
		font-size:        $font-size-base;
		line-height:      $line-height-base;
		color:            $gray;
		-webkit-overflow-scrolling: touch;

		&.iframe {
			padding: 0;

			iframe {
				width: 100%;
				height: 190px;
				border: 0;
			}
		}
	}
}

textarea#comments {
	height:     100px;
	min-height: 0;
}

.checkout-payment-form {
	color:       $text-color;
	padding-top: floor($grid-gutter-width / 2);
}

body.page-checkout-confirmation {
	.checkout-confirmation-submit {
		margin-bottom: floor($grid-gutter-width / 2);
		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}
	}

	// required by german law
	.checkout-confirmation-back-button {
		@media (min-width: $screen-sm-min) {
			margin-top: 50px;
		}
	}

	.order-wishlist > table > thead > tr > th {
		border-color: $gx-checkout-table-border-color;
		color:        $gx-checkout-table-header-color;
	}

	// highlighted background of final products
	// required by german law
	.order-wishlist > table > tbody > tr > td,
	.order-total > tbody > tr,
	.order-total > tbody > tr > td {
		background-color: $gx-checkout-table-bg;
		border-color:     $gx-checkout-table-border-color;
		color:            $gx-checkout-table-color;

		// panel header background image
		@if ($gx-checkout-table-bg-image-url and $gx-checkout-table-bg-image-url != "" and $gx-checkout-table-bg-image-url != '') {
			background-image: url($gx-checkout-table-bg-image-url);
			@if ($gx-checkout-table-bg-image-position) {
				background-position: $gx-checkout-table-bg-image-position;
			}
			@if ($gx-checkout-table-bg-image-repeat) {
				background-repeat: $gx-checkout-table-bg-image-repeat;
			}
			@if ($gx-checkout-table-bg-image-size) {
				background-size: $gx-checkout-table-bg-image-size;
			}
			@if ($gx-checkout-table-bg-image-attachment) {
				background-attachment: $gx-checkout-table-bg-image-attachment;
			}
		}

		&.product {
			color: $gx-checkout-table-additional-info-color;
			.product-title {
				color: $gx-checkout-table-color;
			}
		}
	}
	.order-wishlist > table {
		border-bottom: 3px solid $gx-checkout-table-border-color;
	}
	.order-wishlist > table > tbody > tr {
		margin-left:  0 !important;
		margin-right: 0 !important;

		@media (min-width: $screen-md-min) {
			&.item {
				&:last-child {
					td {
						border-bottom: 3px solid $gx-checkout-table-border-color;
					}
				}
			}
		}
	}
	.order-total > tbody > tr > td {
		border-top-width: 1px;
		border-color:     $gx-checkout-table-border-color;
	}
	.order-wishlist {
		// padding-right: 0 !important;
		table {
			margin-bottom: 0;
		}
	}
	.order-total > tbody > tr:first-of-type > td {
		border-top: none !important;
	}

	// font-size for totals
	@media (min-width: $screen-sm-min) {
		.order-total > tbody > tr.order-total-last > td {
			@media (min-width: $screen-md-min) {
				font-size: 16px;
			}
		}
	}
}

/* PayPal3 Plus Checkout Payment Block
       ======================================================================== */

body.page-checkout-payment {
	.list-group {
		&.paypal3-plus-checkout {
			.list-group-item {
				padding: 0;
				margin:  0;
				display: none;

				&:not(.paypal3-plus) {
					background-color: #fff;
					border-color: #DFDFDF;
					border-width: 0 0 1px 0;
					margin-left:  -1px;
					margin-right: -7px;
					min-height:   64px;
					top:          -35px;
					z-index:      2;

					&.above {
						border-width: 1px 0 0 0;
						top:          26px;
						z-index:      3;
					}

					.payment_item {
						display:     table;
						height:      60px;
						padding-top: 0;

						label {
							display:        table-cell;
							vertical-align: middle;

							.module-name {
								color:       #666666;
								display:     inline-block;
								font-size:   14px;
								margin-left: -27px;
								max-width:   185px;
								padding:     0 15px;
							}

							.module-description {
								color:     transparent;
								font-size: 11px;
							}
						}

						&.radio {
							.control {
								position: absolute;
								right:    -100%;

								@media (min-width: $screen-lg-min) {
									margin-top: -3px;
									right:      -30%;
								}

								input[type="radio"] {
									display: none;
									margin:  0;
								}
							}
						}

						&.with-form {
							.control {
								right: -90%;

								@media (min-width: $screen-lg-min) {
									right: -192%;
								}
							}

							&.active {
								.control {
									&:after {
										position: absolute;
										right:    0;
									}
								}
							}
						}
					}

					&.active {
						background-color: lighten($gray-base, 97.5%);
						border-color:     #DFDFDF;
						color:            #666666;

						.payment_item {
							.module-name {
								font-weight: bold;
							}

							.module-description {
								color:     #3F3F3F;
								font-size: 11px;
							}

							&.radio {
								.control {
									&:after {
										content:          " ";
										background-image: url(assets/images/checkmark.png);
										display:          inline-block;
										height:           18px;
										width:            23px;
									}
								}
							}

							&.with-form {
								.control {
									&:after {
										position: absolute;
										right:    0;
									}
								}
							}
						}
					}

					&:hover {
						background-color: lighten($gray-base, 97.5%);
					}

					.price {
						display:     table;
						height:      60px;
						padding-top: 0;

						p {
							display:        table-cell;
							vertical-align: middle;
						}
					}

					&.klarna2_invoice,
					&.klarna2_partpay {
						.payment_item {
							padding-top:    15px;
							padding-bottom: 15px;

							label {
								padding-left: 6px;

								.module-name {
									margin-left: -16px;
								}

								.module-description {
									color:     #666666;
									font-size: 11px;

									.klarna_consent {
										label {
											display:      inline;
											padding-left: 5px;
										}
									}
								}
							}
						}

						&.active {
							label {
								a {
									color:           $brand-primary;
									text-decoration: none;
								}
							}
						}
					}
				}

				&[class^='payone'],
				&[class*=' payone'] {
					.payment_item {
						padding-top:    15px;
						padding-bottom: 15px;

						label {
							.module-name {
								@include make-xs-column(4);
								max-width:   195px;
							}

							.module-description {
								@include make-xs-column(7);

								color:        #666666;
								display:      inline-block;
								font-size:    11px;
								max-width:    75%;
							}
						}
					}

					&.active {
						label {
							a {
								color:           $brand-primary;
								text-decoration: none;
							}
						}
					}
				}

				&.paypal3-plus {
					display: block;

					.payment_item {
						label {
							.control {
								visibility: hidden;
							}
						}
					}
				}

				&[class^='sofort'],
				&[class*=' sofort'] {
					.payment_item {
						padding-top:    15px;
						padding-bottom: 15px;

						label {
							.module-name {
								@include make-xs-column(4);
								max-width:   216px;
							}

							.module-description {
								@include make-xs-column(7);

								color:        #666666;
								display:      inline-block;
								font-size:    11px;
								max-width:    75%;
							}
						}
					}
				}
			}
		}
	}
}

