
/* Layout
   ========================================================================== */

body, html {
  height: 100%;
}
body {

  // background

  background-color: $body-bg;

  // body background image
  @if ($gx-body-bg-image-url and $gx-body-bg-image-url != "" and $gx-body-bg-image-url != '') {
    background-image: url($gx-body-bg-image-url);
    @if ($gx-body-bg-image-position) {
      background-position: $gx-body-bg-image-position;
    }
    @if ($gx-body-bg-image-repeat) {
      background-repeat: $gx-body-bg-image-repeat;
    }
    @if ($gx-body-bg-image-size) {
      background-size: $gx-body-bg-image-size;
    }
    @if ($gx-body-bg-image-attachment) {
      background-attachment: $gx-body-bg-image-attachment;
    }
  }

  #outer-wrapper {
    background-color: $gx-wrapper-bg;
    
    // wrapper background image
    @if ($gx-wrapper-bg-image-url and $gx-wrapper-bg-image-url != '' and $gx-wrapper-bg-image-url != "") {
      background-image: url($gx-wrapper-bg-image-url);
      @if ($gx-wrapper-bg-image-position) {
        background-position: $gx-wrapper-bg-image-position;
      }
      @if ($gx-wrapper-bg-image-repeat) {
        background-repeat: $gx-wrapper-bg-image-repeat;
      }
      @if ($gx-wrapper-bg-image-size) {
        background-size: $gx-wrapper-bg-image-size;
      }
      @if ($gx-wrapper-bg-image-attachment) {
        background-attachment: $gx-wrapper-bg-image-attachment;
      }
    }
    
    @media (min-width: $grid-float-breakpoint) {
      margin-top: $gx-body-padding-top;
      margin-bottom: $gx-body-padding-bottom;
    }
  }
  @if ($gx-body-wrap) {
    #outer-wrapper {
      @extend .container;
      padding-left: 0 !important;
      padding-right: 0 !important;
      @include border-radius($gx-wrapper-border-radius);
    }
  }
  @else {
    @if ($gx-header-fixed) {
      padding-top: $gx-header-height-mobile;
      @media (min-width: $grid-float-breakpoint) {
        padding-top: $gx-header-height;
      }
      @if ($gx-stage-below-header) {
        #stage {
          margin-top: ($gx-header-height-mobile * -1);
          @media (min-width: $grid-float-breakpoint) {
            margin-top: ($gx-header-height * -1);
          }
        }
      }
    }
    #wrapper {
      @extend .container;

      // prevent horizontal padding
      @media (min-width: $grid-float-breakpoint) {
        // padding-left: 0;
        // padding-right: 0;
      }

    }
  }

}

#wrapper { 												/* Wrapper for page content to push down footer */
  min-height: 100%;
  height: auto;
  margin-bottom: ($gx-footer-min-height * -1); 			/* Negative indent footer by its height */
  padding-bottom: $gx-footer-min-height; 				/* Pad bottom by footer height */
  @include clearfix();
  @if ($gx-body-wrap) {
    @extend .container;
    > .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  #main {
    @include make-sm-column($gx-main-col-sm);
    @if ($gx-left-col-sm > 0) {
      @include make-sm-column-push($gx-left-col-sm);
    }
    @include make-md-column($gx-main-col-md);
    @if ($gx-left-col-md > 0) {
      @include make-md-column-push($gx-left-col-md);
    }
    @include make-lg-column($gx-main-col-lg);
    @if ($gx-left-col-lg > 0) {
      @include make-lg-column-push($gx-left-col-lg);
    }
    .main-inside {
      padding-top: ($grid-gutter-width / 2);
      padding-bottom: $grid-gutter-width;
      min-height: 550px;
    }
  }
  #left {
    @include make-sm-column(12);
    @if ($gx-left-col-sm > 0) {
      @include make-sm-column($gx-left-col-sm);
      @if ($gx-left-col-sm < 12) {
        @include make-sm-column-pull($gx-main-col-sm);
      }
    }
    @include make-md-column(12);
    @if ($gx-left-col-md > 0) {
      @include make-md-column($gx-left-col-md);
      @if ($gx-left-col-md < 12) {
        @include make-md-column-pull($gx-main-col-md);
      }
    }
    @include make-lg-column(12);
    @if ($gx-left-col-lg > 0) {
      @include make-lg-column($gx-left-col-lg);
      @if ($gx-left-col-lg < 12) {
        @include make-lg-column-pull($gx-main-col-lg);
      }
    }
    padding-top: floor($grid-gutter-width / 2);

    clear: left;
    
    // remove padding left
    
    @media (min-width: $grid-float-breakpoint) {
      padding-left: 0;
      clear: none;
    }
  }
  #right {
    @include make-sm-column(12);
    @if ($gx-right-col-sm > 0) {
      @include make-sm-column($gx-right-col-sm);
    }
    @include make-md-column(12);
    @if ($gx-right-col-md > 0) {
      @include make-md-column($gx-right-col-md);
    }
    @include make-lg-column(12);
    @if ($gx-right-col-lg > 0) {
      @include make-lg-column($gx-right-col-lg);
    }
    padding-top: floor($grid-gutter-width / 2);
  }
}

#footer {
  min-height: $gx-footer-min-height;
  
  @if ($gx-body-wrap != true) {
    @if ($gx-footer-wrap) {    /* wrap footer content in container */
      .inside {
        @extend .container;
      }
    }
  }
  @if ($gx-body-wrap) {
    // @extend .row;
    .inside {
      @include make-xs-column(12);
    }
  }
}


// full width pages

@if ($gx-index-full-width == true) {
  body.page-index {
    #wrapper #left,
	#wrapper #right {
      display: none;
    }
    #wrapper #main {
      width: 100%;
      left: 0;
    }
  }
}
@if ($gx-product-info-full-width == true) {
  body.page-product-info {
	  #wrapper #left,
	  #wrapper #right {
      display: none;
    }
    #wrapper #main {
      width: 100%;
      left: 0;
    }
  }
}
@if ($gx-product-listing-full-width == true) {
  body.page-index-type-cat {
	  #wrapper #left,
	  #wrapper #right {
      display: none;
    }
    #wrapper #main {
      width: 100%;
      left: 0;
    }
  }
}
@if ($gx-shopping-cart-full-width == true) {
  body.page-shopping-cart {
	  #wrapper #left,
	  #wrapper #right {
      display: none;
    }
    #wrapper #main {
      width: 100%;
      left: 0;
    }
  }
}
@if ($gx-checkout-full-width == true) {
  body.page-shop.page-checkout-started,
  body.page-checkout-shipping,
  body.page-checkout-shipping-address,
  body.page-checkout-payment,
  body.page-checkout-payment-address,
  body.page-checkout-confirmation,
  body.page-checkout-success {
    #wrapper #left {
      display: none;
    }
    #wrapper #main {
      left: 0;
      width: 100%;
      @include make-lg-column(10);
      @include make-lg-column-offset(1);
    }
  }
}


// content spacing on home
// important for content manager text

.content-page-index {
  margin-bottom: $grid-gutter-width;
}
