{load_language_text section="account_password"}
{load_language_text section="buttons" name="button"}

<h1>{$txt.heading_password}</h1>

{include file="get_usermod:{$tpl_path}snippets/alert_message.html" message=$error type="danger"}

<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}" class="form-horizontal">
	
	<fieldset>
		
		<legend>
			{$txt.label_password}
		</legend>

		<div class="form-group{if $form_data.password_current.required == '1'} mandatory{/if}{if $error_password || $account_password} has-feedback has-error{/if}">

			<label for="{$form_data.password_current.name}" class="control-label col-sm-3">
				{$txt.label_actual}
			</label>

			<div class="col-sm-9 col-lg-6 input-container">
				<input type="password"
					   placeholder="{$txt.label_actual}"
					   id="{$form_data.password_current.name}"
					   name="{$form_data.password_current.name}"
					   class="form-control" value="{$form_data.password_current.value}" />

				{if $error_password}
					<span class="help-block">
						{$error_password}
					</span>
				{/if}

				{if $account_password}
					<span class="help-block">
						{$account_password}
					</span>
				{/if}
			</div>

		</div>

		<div class="form-group{if $form_data.password_new.required == '1'} mandatory{/if}{if $error_new_password} has-feedback has-error{/if}">

			<label for="{$form_data.password_new.name}" class="control-label col-sm-3">
				{$txt.label_new}
			</label>

			<div class="col-sm-9 col-lg-6 input-container">
				<input type="password"
					   placeholder="{$txt.label_new}"
					   id="{$form_data.password_new.name}"
					   name="{$form_data.password_new.name}"
					   class="form-control" value="{$form_data.password_new.value}" />

				{if $error_new_password}
					<span class="help-block">
						{$error_new_password}
					</span>
				{/if}
			</div>

		</div>

		<div class="form-group{if $form_data.password_confirmation.required == '1'} mandatory{/if}{if $error_confirmation} has-feedback has-error{/if}">

			<label for="{$form_data.password_confirmation.name}" class="control-label col-sm-3">
				{$txt.label_confirm}
			</label>

			<div class="col-sm-9 col-lg-6 input-container">
				<input type="password"
					   placeholder="{$txt.label_confirm}"
					   id="{$form_data.password_confirmation.name}"
					   name="{$form_data.password_confirmation.name}"
					   class="form-control" value="{$form_data.password_confirmation.value}" />

				{if $error_confirmation}
					<span class="help-block">
						{$error_confirmation}
					</span>
				{/if}
			</div>

		</div>

	</fieldset>
		
	<input type="hidden" name="{$form_data.password_hidden_action.name}" value="{$form_data.password_hidden_action.value}" />

	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3">
			<a class="btn btn-default btn-block" href="{$BUTTON_BACK_LINK}" title="{$button.back}">
				{$button.back}
			</a>
		</div>
		<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right">
			<button type="submit" class="btn btn-primary btn-block" title="{$button.send}">
				{$button.send}
			</button>
		</div>
	</div>
	
	<p class="mandatory-info">
		{$txt.text_must}
	</p>
		
</form>
