{load_language_text section="buttons" name="button"}

{if $content_data.CONTENT_HEADING}
	<h1>{$content_data.CONTENT_HEADING}</h1>
{/if}

<p>
	{if $content_data.file}
		{$content_data.file}
	{else}
		{$content_data.CONTENT_BODY}
	{/if}
</p>

{if $content_data.HIDE_BOTTOM == false}
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<a class="btn btn-default btn-block history-back" href="{page_url}#" title="{$button.back}">
					{$button.back}
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right">
				&nbsp;
			</div>
		</div>
{/if}