{load_language_text section="cross_selling"}

{if $module_content != ''}
	<h3>{$txt.heading_text}</h3>
	{foreach name=xsell key=key_data item=item_data from=$module_content}
		{if $smarty.foreach.xsell.first}
			{assign var="fullscreenPage" value={template_setting name="gx-product-info-full-width"}}
			{product_listing 
				products=$item_data.PRODUCTS 
				id="cross_selling" 
				truncate=$TRUNCATE_PRODUCTS_NAME 
				showManufacturerImages=$showManufacturerImages 
				showProductRibbons=$showProductRibbons 
				showRating=$showRating
				fullscreenPage=$fullscreenPage}
		{/if}
	{/foreach}
{/if}
