<div class="swiper-container" data-gambio-widget="swiper" data-swiper-disable-translucence-fix="true" data-swiper-breakpoints='{literal}[{"breakpoint": 100, "usePreviewBullets": true, "slidesPerView": 1}]{/literal}' data-swiper-slider-options='{literal}{"effect": "fade", "speed": 600, "nextButton": ".js-teaser-slider-next", "prevButton": ".js-teaser-slider-prev", "autoplay": {/literal}{$content_data.SET_INTERVAL}{literal}}{/literal}'>
	<div class="swiper-wrapper">

		{foreach name=imgBig item=img_array from=$content_data.IMG_DATA}

			{if $img_array.image_preview}
				{assign var="thumb_image" value="{$smarty.const.DIR_WS_IMAGES}slider_images/thumbnails/{$img_array.image_preview}"}
				{assign var="thumb_text" value=""}
			{else}
				{assign var="thumb_image" value=""}
				{assign var="thumb_text" value="{$img_array.image_title_text}"}
			{/if}

			{assign var="img_values" value="class=\"img-responsive center-block\" src=\"{$smarty.const.DIR_WS_IMAGES}slider_images/{$img_array.image_large}\" alt=\"{$img_array.image_alt_text}\" title=\"{$img_array.image_title_text}\""}

			<div class="swiper-slide" data-thumb-image="{$thumb_image}" data-thumb-text="{$thumb_text}">

				{if $img_array.image_area_array|@sizeof > 0}
				
					<img {$img_values} usemap="#map2_{$smarty.foreach.imgBig.index+1}" />
					<map id="map2_{$smarty.foreach.imgBig.index+1}" name="map2_{$smarty.foreach.imgBig.index+1}">
						{foreach item=area_array from=$img_array.image_area_array}
							<area id="area2_{$area_array.image_area_id}" shape="{$area_array.image_area_shape}" coords="{$area_array.image_area_coords}" href="{$area_array.image_area_link_url}" alt="{$area_array.image_area_title}" title="{$area_array.image_area_title}" target="{$area_array.image_area_link_target}" />
						{/foreach}
					</map>
				
				{elseif $img_array.link_url}
				
					<a href="{$img_array.link_url}" target="{$img_array.link_target}">
						<img {$img_values} />
					</a>
				
				{else}
				
					<img {$img_values} />
				
				{/if}
				
			</div>

		{/foreach}

	</div>

	<div class="swiper-pagination"></div>
	<div class="js-teaser-slider-prev swiper-button-prev"></div>
	<div class="js-teaser-slider-next swiper-button-next"></div>
</div>