{load_language_text section="new_password"}
{load_language_text section="buttons" name="button"}

<h1>{$txt.heading_password}</h1>
		
{include file="get_usermod:{$tpl_path}snippets/alert_message.html" message=$info_message type="info"}

<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}" class="form-horizontal">
	
	<fieldset>
		
		<legend>
			{$txt.text_step1} {$txt.text_info_pre}
		</legend>

		<div class="form-group">

			<label for="{$INPUT_EMAIL_NAME}" class="control-label col-sm-3">
				{$txt.label_email}
			</label>

			<div class="col-sm-9 col-lg-6 input-container">
				<input type="email"
					   placeholder="{$txt.label_email}"
					   id="{$INPUT_EMAIL_NAME}"
					   name="{$INPUT_EMAIL_NAME}"
					   class="form-control"
					   value="{$INPUT_EMAIL_VALUE}" />
			</div>

		</div>

		{if $VALIDATION_ACTIVE == 'true'}
			<div class="form-group mandatory">

				<label for="captcha" class="control-label col-sm-3">
					{$txt.label_captcha}
				</label>

				<div class="col-sm-9 col-lg-6 input-container">
					{$GM_CAPTCHA}
				</div>

			</div>
		{/if}

	</fieldset>
	
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3">
			&nbsp;
		</div>
		<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right">
			<button type="submit" class="btn btn-primary btn-block" title="{$button.continue}">
				{$button.continue}
			</button>
		</div>
	</div>

</form>