{load_language_text section="reviews"}
{load_language_text section="buttons" name="button"}

<h1>{$txt.heading_reviews_write}</h1>
		
{if $error}
	{include file="get_usermod:{$tpl_path}snippets/alert_message.html" message=$error type="danger"}
{else}
	{include file="get_usermod:{$tpl_path}snippets/alert_message.html" message=$GM_ERROR type="danger"}

	<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}" class="form-horizontal">
		
		<fieldset>
			
			<legend>
				{$txt.heading_product} {$PRODUCTS_NAME}
			</legend>

			{if $CONTACT_CONTENT}
				<div class="row">
					<label class="control-label col-sm-3">&nbsp;</label>

					<div class="col-sm-9 input-container">
						<p>{$CONTACT_CONTENT}</p>
					</div>
				</div>
			{/if}

			<div class="row">
				<label class="control-label col-sm-3">{$txt.label_author}</label>

				<div class="col-sm-9 input-container">
					<p>{$AUTHOR}</p>
				</div>
			</div>

			<div class="form-group mandatory">

				<label for="{$id}" class="control-label col-sm-3">
					{$txt.label_message}
				</label>

				<div class="col-sm-9 col-lg-6 input-container">
					<textarea placeholder="{$txt.label_message}" 
							  id="{$TEXTAREA_NAME}" 
							  name="{$TEXTAREA_NAME}" 
							  class="form-control">{$TEXTAREA_VALUE}</textarea>
					{if $reviews_min_length}
						<span class="reviews-length-info">{$txt.review_info_1} {$reviews_min_length} {$txt.review_info_2}</span>
					{/if}
				</div>

			</div>

			<div class="form-group mandatory">

				<label for="{$INPUT_RATING_NAME}-{$INPUT_RATING_VALUE}" class="control-label col-sm-3">
					{$txt.label_rating}
				</label>

				<div class="col-sm-9 input-container">
					{for $i=1 to 5}
						<span class="radio">
							<label for="{$INPUT_RATING_NAME}-{$i}">
								<input type="radio" id="{$INPUT_RATING_NAME}-{$i}" name="{$INPUT_RATING_NAME}" value="{$i}" {if $i === $INPUT_RATING_VALUE}checked="checked"{/if} />
								{for $j=1 to $i}
									<span class="fa fa-star"></span>
								{/for}
							</label>
						</span>
					{/for}
				</div>

			</div>


			{if $GM_VALIDATION_ACTIVE == 'true'}
				<div class="form-group mandatory">

					<label for="vvcode" class="control-label col-sm-3">
						{$txt.label_captcha}
					</label>

					<div class="col-sm-9 col-lg-6 input-container">
						{$GM_CAPTCHA}
					</div>

				</div>
			{/if}

			{if $GM_PRIVACY_LINK != '0'}
				{if $show_privacy_checkbox}<input id="privacy_accepted" type="checkbox" name="privacy_accepted" value="1"{if $privacy_accepted} checked="checked"{/if}/> {/if}
				<label for="privacy_accepted">{$GM_PRIVACY_LINK}</label>
			{/if}
			
		</fieldset>

		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<a class="btn btn-default btn-block" href="{$BUTTON_BACK_LINK}" title="{$button.back}">
					{$button.back}
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right">
				<button type="submit" class="btn btn-primary btn-block" title="{$button.send}">
					{$button.send}
				</button>
			</div>
		</div>

		<p class="mandatory-info">
			{$txt.text_must}
		</p>

	</form>
{/if}
