{load_language_text section="ssl_check"}
{load_language_text section="buttons" name="button"}

<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{$txt.heading_ssl_check}</strong></font>
<br />
<br />
<table width="100%" border="0" cellspacing="4" cellpadding="0">
  <tr>
    <td class="main">{$txt.text_information}</td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td nowrap="nowrap" class="infoboxheading" width="250">{$txt.title_infobox}</td>
        </tr>
        <tr>
          <td class="main" >{$txt.text_infobox}</td>
        </tr>
      </table></td>
  </tr>
</table>
<p align="right">{$BUTTON_CONTINUE}</p>
