{load_language_text section="upcoming_products"}

{if $module_content|count > 0}		
	<h3>{$txt.heading_upcoming}</h3>

	{if 'USE_UPCOMING_PRODUCT_SWIPER_ON_INDEX'|gm_get_conf === 'true'}
		{assign var="template" value="snippets/product_listing/product_listing_swiper.html"}
	{else}
		{assign var="template" value="snippets/product_listing/product_listing.html"}
	{/if}
	
	{assign var="fullscreenPage" value={template_setting name="gx-index-full-width"}}
	{product_listing 
		products=$module_content id="upcoming-products" 
		hoverable=true 
		template=$template 
		truncate=$TRUNCATE_PRODUCTS_NAME 
		showManufacturerImages=$showManufacturerImages 
		showProductRibbons=$showProductRibbons 
		showRating=$showRating
		fullscreenPage=$fullscreenPage}
{/if}

{content_manager group=4321002}