{load_language_text section="box_paypal"}

{include file="get_usermod:{$tpl_path}snippets/box/default/top.html" class="paypal" headline=$txt.paypal_title}

<table border="0" cellpadding="10" cellspacing="0" align="center">
	<tr>
		<td align="center">
			<a href="{$content_data.PAYPAL_URL}" target="_blank" rel="nofollow"><img  src="https://www.paypal-deutschland.de/external/logocenter-update/logo-paypal-150x41.gif" border="0" alt="PayPal-Bezahlmethoden-Logo" /></a>
		</td>
	</tr>
</table>
		
{include file="get_usermod:{$tpl_path}snippets/box/default/bottom.html"}