<p>
	<strong>
		<a href="https://www.gambio.de" target="_blank"><strong>Gambio.de</strong></a> 
		- Gambio Admin © 2016 Gambio GmbH
	</strong>
	Gambio GmbH provides no warranty. The Shopsoftware is redistributable under the
	<a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU General Public License (Version 2)</a>
	based on: E-Commerce Engine Copyright © 2006
	<a href="http://www.xt-commerce.com" target="_blank">xt:Commerce</a>,
	<a href="http://www.xt-commerce.com" target="_blank">xt:Commerce</a> provides no warranty. &nbsp; 
	<a href="./credits.php">Credits</a>
</p>