<footer id="main-footer">
	<div class="info row">
		<div class="menu-trigger col-xs-1">
			{* Menu Trigger *}
			{include file="$template_dir/layouts/main/footer/menu_trigger.html"}
		</div>
		
		<div class="version col-xs-3">
			{* Version *}
			{include file="$template_dir/layouts/main/footer/version.html"}
		</div>
		
		<div class="language-selection col-xs-4" data-gx-controller="layouts/main/footer/language_selection">
			{* Language Selection *}
			{include file="$template_dir/layouts/main/footer/language_selection.html"}			
		</div>
	</div>
	
	<div class="copyright row">
		{* Copyright *}
		{include file="$template_dir/layouts/main/footer/copyright.html"}
	</div>
</footer>