{if $SEARCH_RESULT_PAGE && $SEARCH_RESULT_PAGE == 1}
	{if $KEYWORDS && $KEYWORDS != '%'}
		<h1>{$txt.heading_search_result_plus_keywords} &quot;{$KEYWORDS}&quot;</h1>
	{else}
		<h1>{$txt.heading_search_result}</h1>
	{/if}
{else}
	{if $category_title || $category_name}
		<h1>{$category_title|default:$category_name}</h1>
	{/if}
{/if}

{if $CATEGORIES_DESCRIPTION || $CATEGORIES_IMAGE}
	<div class="categories-description-container">
		
		{if $CATEGORIES_DESCRIPTION}
			{$CATEGORIES_DESCRIPTION}
		{/if}

		{if $CATEGORIES_IMAGE}
			<div class="categories-images">
				<img src="{$CATEGORIES_IMAGE}" alt="{$img_alt|default:$CATEGORIES_NAME}" title="{$img_alt|default:$CATEGORIES_NAME}" class="img-responsive" />
				{if $manufacturer}
					<span class="align-helper">
						<strong>{$manufacturer.NAME}</strong> 
						{if $manufacturer.URL}
							<br /><a href="{$manufacturer.URL}">{$manufacturer.URL}</a>
						{/if}
					</span>
				{/if}
			</div>
		{/if}
	</div>
{/if}