{load_language_text section="general" name="general"}

<div class="rating-stars rating-stars-{$rating_rounded * 10}" title="{$general.RATING_SUMMARY|replace:"###RATING###":$rating_rounded|replace:"###COUNT###":$rating_count}">
	<span class="gm-star"></span>
	<span class="gm-star"></span>
	<span class="gm-star"></span>
	<span class="gm-star"></span>
	<span class="gm-star"></span>
	<div class="rating-stars-mask">
		<div class="rating-stars-inside">
			<span class="gm-star"></span>
			<span class="gm-star"></span>
			<span class="gm-star"></span>
			<span class="gm-star"></span>
			<span class="gm-star"></span>
		</div>
	</div>
</div>