.attributes-edit-wrapper {

  td.main, {
    
    input, select {
      margin:  inherit;
      padding: inherit;
    }
    
    .attributes-net-text {
      padding: 0 0 0 4px;
    }
  }
}

.attributes-btn-wrapper {
  margin: 24px 0 0 0;
}