{load_language_text section="box_paypal"}

<div id="menubox_paypal" class="c_paypal content-box white clearfix">
	<div id="menubox_paypal_head" class="c_boxhead content-box-header clearfix">
		<div class="content-box-header-inner">
			{$txt.paypal_title}
		</div>
	</div>
	<div id="menubox_paypal_body" class="content-box-main clearfix">
		<div class="content-box-main-inner clearfix">
			<!-- PayPal Logo -->
			<table border="0" cellpadding="10" cellspacing="0" align="center">
				<tr>
					<td align="center">
						<a href="{$content_data.PAYPAL_URL}" target="_blank" rel="nofollow"><img  src="https://www.paypal-deutschland.de/external/logocenter-update/logo-paypal-150x41.gif" border="0" alt="PayPal-Bezahlmethoden-Logo" /></a>
					</td>
				</tr>
			</table>
			<!-- PayPal Logo -->
		</div>
	</div>
</div>