{load_language_text section="box_cart"}

<div id="head_shopping_cart" title="{$txt.title_cart}">
	<div id="head_shopping_cart_inner">
		<table cellspacing="0" cellpadding="0" border="0" style="width:100%">
			<tbody>
				<tr>
					<td>
						<img src="{$tpl_path}img/icons/icon-grey-basket-big.png" style="border:none; margin-bottom:3px" alt="" />
					</td>
					<td>
						<span class="shopping-cart-headline">{$txt.heading_cart}</span><br />
						<span class="shopping-cart-product-count">
							{if $productsCount == 0}{$txt.text_no_product}{/if}
							{if $productsCount == 1}{$txt.text_one_product}{/if}
							{if $productsCount > 1}{$productsCount} {$txt.text_several_products}{/if}
						</span>
					</td>
					<td>
						<img src="{$tpl_path}img/icons/icon-grey-arrowdown.png" style="border:none; margin-bottom:3px" alt="" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
