{load_language_text section="box_search"}
{load_language_text section="buttons" name="button"}

<div id="search">
	<form action="{$content_data.FORM_ACTION_URL}" method="{$content_data.FORM_METHOD}">
		<input type="text" name="{$content_data.INPUT_NAME}" value="{$txt.text_default_value}" class="input-text box-input-field default_value" id="search_field" autocomplete="off" />
		<a href="{page_url}#" class="button_blue button_set action_submit" title="{$txt.title_search}"><span class="button-outer"><span class="button-inner">{$button.go}</span></span></a>
	</form>
</div>