{load_language_text section="box_gm_counter"}

<div id="menubox_gm_counter" class="c_gm_counter content-box white clearfix">
	<div id="menubox_gm_counter_head" class="c_boxhead content-box-header clearfix">
		<div class="content-box-header-inner">
			{$txt.heading_gm_counter}
		</div>
	</div>
	<div id="menubox_gm_counter_body" class="content-box-main clearfix">
		<div class="content-box-main-inner clearfix">
			<span class="strong">{$content_data.GM_ONLINE} {$txt.text_vistor}</span>
			<br />
			{$txt.text_online}
			<br />
			<br />
			<span class="strong">{$content_data.GM_HITS} {$txt.text_vistor}</span>
			<br />
			{$txt.text_since} {$content_data.GM_DATE}
		</div>
	</div>
</div>
