<div id="menubox_extrabox{$content_data.NUMBER}" class="c_extrabox{$content_data.NUMBER} content-box white clearfix">
	<div id="menubox_extrabox{$content_data.NUMBER}_head" class="c_boxhead content-box-header clearfix">
		<div class="content-box-header-inner">
			{$content_data.HEADING}
		</div>
	</div>
	<div id="menubox_extrabox{$content_data.NUMBER}_body" class="content-box-main clearfix">
		<div class="content-box-main-inner clearfix">
           {$content_data.CONTENT}
		</div>
	</div>
</div>
