{load_language_text section="account_password"}
{load_language_text section="buttons" name="button"}

<div id="account">
	<h1>{$txt.heading_password}</h1>

	{$error}
	
	<h2 class="underline"><img class="png-fix" src="{$tpl_path}img/icons/personal-data.png" alt="" /> {$txt.label_password}</h2>
	
	<div class="required_info">
		{$txt.text_must}
	</div>

	<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}">
		<fieldset class="blocklabels_150">

			<table cellspacing="0" cellpadding="0" border="0">

				<tr>
					<td class="col_0"><label>{$txt.label_actual}</label></td>
					<td class="col_1">
						<input type="password" name="{$form_data.password_current.name}" value="{$form_data.password_current.value}" class="input-text" />
						{if $form_data.password_current.required == '1'} * {/if}
						{if $error_password}
							<span class="class_error_message">{$error_password}</span>
						{/if}
						{if $account_password}
							<span class="class_error_message">{$account_password}</span>
						{/if}						
					</td>
				</tr>
				<tr>
					<td class="col_0"><label>{$txt.label_new}</label></td>
					<td class="col_1">
						<input type="password" name="{$form_data.password_new.name}" value="{$form_data.password_new.value}" class="input-text" />
						{if $form_data.password_new.required == '1'} * {/if}
						{if $error_new_password}
							<span class="class_error_message">{$error_new_password}</span>
						{/if}
					</td>
				</tr>
				<tr>
					<td class="col_0"><label>{$txt.label_confirm}</label></td>
					<td class="col_1">
						<input type="password" name="{$form_data.password_confirmation.name}" value="{$form_data.password_confirmation.value}" class="input-text" />
						{if $form_data.password_confirmation.required == '1'} * {/if}
						{if $error_confirmation}
							<span class="class_error_message">{$error_confirmation}</span>
						{/if}
					</td>
				</tr>
			</table>
		</fieldset>
		<input type="hidden" name="{$form_data.password_hidden_action.name}" value="{$form_data.password_hidden_action.value}" />

		<a href="{$BUTTON_BACK_LINK}" class="button_grey button_set"><span class="button-outer"><span class="button-inner">{$button.back}</span></span></a>
		<a href="{page_url}#" class="button_blue button_set action_submit"><span class="button-outer"><span class="button-inner">{$button.send}</span></span></a>
	</form>
</div>
