{load_language_text section="buttons" name="button"}
<!--
<link type="text/css" rel="stylesheet" href="templates/gambio/system.css" />
<div style="width:{$BOX_WIDTH}px;border:1px dotted red">
<div style="border:1px dotted red; background-color:gray">
-->
<div id="product_images_box" style="width:{$BOX_WIDTH}px; margin-left:auto; margin-right:auto">
		
  <h1>{$PRODUCTS_NAME}</h1>
	<!--<div id="wrap_images" style="width:{$POPUP_WIDTH}px">-->
	<div id="wrap_images" style="width:{$POPUP_WIDTH}px">
		<div id="active_image"><img src="{$ACTIVE_IMAGE}" alt="" title="" /></div>
		
		{if $image_data}
			<ul>
			{foreach name=aussen item=image_item from=$image_data}		
				<li style="width:{$THUMBNAIL_WIDTH}px;height:{$THUMBNAIL_HEIGHT}px" class="inactive" id="image_{$image_item.IMAGE_NR}">
					<a href="{$image_item.IMAGE_NAME}" onclick="return false"><img style="padding-top:{$image_item.IMAGE_PADDING}px;" src="{$image_item.IMAGE_NAME}" alt="{$image_item.IMAGE_ALT}" title="{$image_item.IMAGE_ALT}" /></a>
				</li>
			{/foreach}
			</ul>
		{/if}
	</div>	
	<div id="footer" onclick="gmLightBox.close_box()">{$button.close}</div>
</div>

<!--
</div>
-->
