{load_language_text section="new_password"}
{load_language_text section="buttons" name="button"}

<div id="account" class="password_double_opt_in">

	<h1>{$txt.heading_password}</h1>

	{$info_message}

	<h2>
		{$txt.text_step1} {$txt.text_info_pre}
	</h2>

	<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}">
		<fieldset class="blocklabels_150">
			<div class="input">
				<label>{$txt.label_email}</label>
				<input type="text" name="{$INPUT_EMAIL_NAME}" value="{$INPUT_EMAIL_VALUE}" class="input-text" />
			</div>
			{if $VALIDATION_ACTIVE == 'true'}
			<div class="input vvcode">
				<label>{$txt.label_captcha}</label>
				{$GM_CAPTCHA}
			</div>
			{/if}
		</fieldset>

		<div class="send_button"><a href="{page_url}#" class="button_blue button_set action_submit"><span class="button-outer"><span class="button-inner">{$button.continue}</span></span></a></div>

	</form>
</div>
